<%- include('partials/header.html') %>
    

    <section class="outras-noticias">
      <div class="title-outras-noticias">
        <h2>Busca:</h2>
        <div class="center">
          <div style="width: 100%;" class="mais-lidas">
            <h3>33 Resultados</h3>
            <div class="mais-lidas-noticias">

              <div class="mais-lida-noticia-single">
                <img src="/public/img/img-01.jpg" height="140" width="140px" alt="image">
                  <h4>Natureza</h4>
                  <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a pandemia. <a href="/natureza"> Learn more...</a></p>
              </div><!-- mais-lida-noticia-single -->

              <div class="mais-lida-noticia-single">
                <img src="/public/img/img-01.jpg" height="140" width="140px" alt="image">
                  <h4>Natureza</h4>
                  <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a pandemia. <a href="/natureza"> Learn more...</a></p>
                  
              </div><!-- mais-lida-noticia-single -->
              <!---->
              <div class="mais-lida-noticia-single">
                <img src="/public/img/img-01.jpg" height="140" width="140px" alt="image">
                  <h4>Natureza</h4>
                  <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a pandemia. <a href="/natureza"> Learn more...</a></p>
              </div><!-- mais-lida-noticia-single -->
              <!---->
              <div class="mais-lida-noticia-single">
                <img src="/public/img/img-01.jpg" alt="image">
                <h4>Natureza</h4>
                  <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a pandemia. <a href="/natureza"> Learn more...</a></p>
              </div><!-- mais-lida-noticia-single -->
              <!---->
            </div><!--mais-lidas-noticias-->
          </div><!-- mais-lidas -->
        </div><!-- center -->
      </div><!-- title-outras-noticias -->
    </section><!-- outras-noticias -->

    <%- include('partials/footer.html') %>

  </body>
</html>
