<%- include('partials/header.html') %>
    <section class="noticia">
        <div class="center">
            <div class="noticia-single">
                <h2><%= noticia.titulo %></h2>
                <div class="autor-nome">
                    <span>por <%= noticia.autor %></span>
                </div>

                <br/>
                <div><img style="max-width: 100%;" src="<%= noticia.image %>" alt=""></div>
                <br/>
                <%- noticia.conteudo %>


            </div>
            <div class="mais-lidas">

                <h3>Mais lidas</h3>
                <div class="mais-lidas-noticias">

                    <div class="mais-lida-noticia-single">
                        <img src="/public/img/img-01.jpg" height="140" width="140px" alt="image">
                        <h4>Natureza</h4>
                        <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a
                            pandemia. <a href="/natureza"> Learn more...</a></p>
                    </div><!-- mais-lida-noticia-single -->

                    <div class="mais-lida-noticia-single">
                        <img src="/public/img/img-01.jpg" height="140" width="140px" alt="image">
                        <h4>Natureza</h4>
                        <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a
                            pandemia. <a href="/natureza"> Learn more...</a></p>

                    </div><!-- mais-lida-noticia-single -->
                    <!---->
                    <div class="mais-lida-noticia-single">
                        <img src="/public/img/img-01.jpg" height="140" width="140px" alt="image">
                        <h4>Natureza</h4>
                        <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a
                            pandemia. <a href="/natureza"> Learn more...</a></p>
                    </div><!-- mais-lida-noticia-single -->
                    <!---->
                    <div class="mais-lida-noticia-single">
                        <img src="/public/img/img-01.jpg" alt="image">
                        <h4>Natureza</h4>
                        <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a
                            pandemia. <a href="/natureza"> Learn more...</a></p>
                    </div><!-- mais-lida-noticia-single -->
                    <!---->
                </div>
                <!--mais-lidas-noticias-->
            </div><!-- mais-lidas -->
        </div>
    </section>
    <%- include('partials/footer.html') %>
        </body>

        </html>