<%- include('partials/header.html') %>
    <section class="noticia">
        <div class="center">
            <div class="noticia-single">
                <h2>Dez principais habilidades para se tornar um desenvolverdor fill-stack em 2021</h2>
                <div class="autor-nome">
                    <img src="" alt="">
                    <span>Pro Walison Lima</span>
                </div>
                <p>A tradução literal de Full Stack é “pilha toda” e, com isso, temos uma ideia geral acerca de porquê esse nome se refere a pessoa que trabalha com todas as tecnologias que envolvem o desenvolvimento web.</p>
                
                <h3>Mais informaçoẽs</h3>
                <p>A Stack de desenvolvimento é o conjunto geral de tecnologias de uma aplicação. Por exemplo, para web, é comum que o front-end seja desenvolvido com HTML, CSS e Javascript, enquanto o back-end pode ser criado com PHP e o banco de dados MySQL.

                Por isso, espera-se que a pessoa programadora Full Stack seja capacitada o suficiente para lidar, ao mesmo tempo, com o front-end e o back-end de uma aplicação, mesmo que os dois pontos utilizem tecnologias e linguagens diferentes.

                Algumas empresas ainda denominam Full Stack profissionais que não apenas tratam desses dois lados do sistema, mas que também lidam com o banco de dados e modele tabelas e configuração dos servidores nos quais a aplicação roda.</p>
            </div>
            <div class="mais-lidas">

                <h3>Mais lidas</h3>
                <div class="mais-lidas-noticias">

                    <div class="mais-lida-noticia-single">
                        <img src="/public/img/img-01.jpg" height="140" width="140px" alt="image">
                        <h4>Natureza</h4>
                        <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a
                            pandemia. <a href="/natureza"> Learn more...</a></p>
                    </div><!-- mais-lida-noticia-single -->

                    <div class="mais-lida-noticia-single">
                        <img src="/public/img/img-01.jpg" height="140" width="140px" alt="image">
                        <h4>Natureza</h4>
                        <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a
                            pandemia. <a href="/natureza"> Learn more...</a></p>

                    </div><!-- mais-lida-noticia-single -->
                    <!---->
                    <div class="mais-lida-noticia-single">
                        <img src="/public/img/img-01.jpg" height="140" width="140px" alt="image">
                        <h4>Natureza</h4>
                        <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a
                            pandemia. <a href="/natureza"> Learn more...</a></p>
                    </div><!-- mais-lida-noticia-single -->
                    <!---->
                    <div class="mais-lida-noticia-single">
                        <img src="/public/img/img-01.jpg" alt="image">
                        <h4>Natureza</h4>
                        <p>Boku no hero academic terá nova temporada lnaçada proximo ano, podendo ser atrasada devidos a
                            pandemia. <a href="/natureza"> Learn more...</a></p>
                    </div><!-- mais-lida-noticia-single -->
                    <!---->
                </div>
                <!--mais-lidas-noticias-->
            </div><!-- mais-lidas -->
        </div>
    </section>
    <%- include('partials/footer.html') %>
        </body>

        </html>